<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace指向对应的mapper-->
<mapper namespace="com.example.web.mapper.primary.ResourceRecordMapper">

    <select id="selectResourceRecord" resultType="java.util.HashMap">
        select * from resource_record
    </select>

    <select id="selectByAccount" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select code, name, star, create_time as "createTime" from resource_record rr join game_resource gs on
        rr.game_resource_code = gs.code
        where 1 = 1
        <if test="accountId != null and accountId != ''">
            and account_id = #{accountId}
        </if>
    </select>

<!--    <insert id="batchInsert" parameterType="java.util.List">-->
<!--        insert into resource_record (account_id, game_resource_id, create_time) values-->
<!--        <foreach collection="list" item="item" separator="," index="index">-->
<!--            (#{item.code}, now())-->
<!--        </foreach>-->
<!--    </insert>-->

    <insert id="batchInsert">
        insert into resource_record (account_id, game_resource_code, create_time) values
        <foreach collection="list" item="item" separator="," index="index">
            (#{accountId}, #{item.code}, now())
        </foreach>
    </insert>
</mapper>